<!DOCTYPE html>
<html>
<head>
  <title>Joe's Issues</title>
</head>
<body>
<h2>Joe's Issues</h2>
  <% issues.each do |i| %>
    <% button  = i[:state] == 'open' ? "Close #{i[:id]}"  : "Re-Open #{i[:id]}" %>
    <% action  = i[:state] == 'open' ? "close/#{i[:id]}"  : "reopen/#{i[:id]}" %>
    <p>
        <form action="/issue/<%= action %>" method="post">
          <a href="<%= i[:url] %>"><%= i[:title] %></a> :
          <input type="submit" value="<%= button %>">
        </form>
    </p>
  <% end %>

</body>
</html>